{% extends "catalog/base_generic.html" %}
{% block content %}
	{% if forms.error %}
		<p>Your username and password did not match</p>
	{% endif %}

	{% if next %}
		{% if user.isauthenticated %}
			<p>Your account does not have access to this page</p>
			<p>Please ask for admin to grant access</p>
		{% else %}
			<p>Please login to see this page</p>
		{% endif %}
	{% endif %}


	<form method="post" action="{% url 'login' %}">
			{% csrf_token %}
		<div>
			<td>{{form.username.label_tag}}</td>
			<td>{{form.username}}</td>
		</div>
		<div>
			<td>{{form.password.label_tag}}</td>
			<td>{{form.password}}</td>
		</div>
		<div>
			<input type="submit" value="login">
			<input type="hidden" name="next" value="{{next}}">
		</div>
	</form>
	<p><a href="{% url 'password_reset' %}">Lost password</a></p>
	<p>--OR--</p>
	<a href="{% url 'social:begin' 'github' %}">
		<button type="button" name="button" class="btn btn-primary">Github</button>
	</a>

	<a href="{% url 'social:begin'  'google-oauth2' %}">
		<button type="button" name="button" class="btn btn-danger">Google+</button>
	</a>

{% endblock %}