
{% extends "catalog/base_generic.html" %}

{% block title %}
 Author detail page

<li>	<a href="{% url 'author_update' author.id %}">Update an Author</a></li>
<li>	<a href="{ % url 'author_delete' author.id %}">Delete an Author</a></li>

 
{% endblock %}
	
	{% block content %}
	

	<p>Firstname: {{author.first_name}}</p>
	<p>Lastname: {{author.last_name}}</p>
	<p>Date_of_birth :{{author.date_of_birth}}</p>
	<p>Date_of death :{{author.date_of_death}}</p>

	<p>-------------------------------------------------------</p>
	{% endblock %}
















































}